<div class="fb-status-post">
	<a href="{{this.link}}" target="_blank">
		<span class="fb-status-post-message">
			{{this.message}}
		</span>
		<img src="{{fbPostImage this.picture}}" />
		<span class="fb-status-post-title">
			{{this.name}}
		</span>
		<span class="fb-status-post-description">
			{{this.description}}
		</span>
		<span class="fb-status-post-caption">
			{{this.caption}}
		</span>
	</a>
</div>