<!-- expanded -->
<div class="tw-box{{#if $last}} last{{/if}}">
	<div class="tweet-content">
		<div class="tweet-header">

			<a class="tw-account-group" href="/freelancersu">
				<img class="tw-avatar" src="http://pbs.twimg.com/profile_images/1525465221/FU_Logo_Standard_RGB_bigger.jpg" alt="">
				<strong class="tw-fullname">Freelancers Union</strong>
				<span class="tw-username">
					<s>@</s>
					<b>freelancersu</b>
				</span>
			</a>
		</div>

		<p class="tweet-text">
			5 very clever ideas for organizing your office:
			<a href="#" class="tw-timeline-link" target="_blank" title="http://bit.ly/1CwKIZI">bit.ly/1CwKIZI</a> via
			<a href="/TheSelfEmployed" class="tw-timeline-link tw-atreply">
				<s>@</s>
				<b>theselfemployed</b>
			</a>
			<a href="#" class="tw-timeline-link hidden">pic.twitter.com/ag2JGPPlmC</a>
		</p>

		<div class="tweet-media-container">
			<div data-card-url="//twitter.com/freelancersu/status/579621227796545536/photo/1" data-card-type="photo">
				<a class="media media-thumbnail tw-timeline-link">
					<div class="image-holder">
						<img src="http://pbs.twimg.com/media/CAs6b32W4AAvQKZ.jpg" width="100%" alt="Embedded image permalink">
					</div>
				</a>
			</div>
		</div>

		<div class="tw-expanded-content">
			<div class="tweet-stats-container">

				<ul class="tw-stats">
					<li class="tw-stat-count">
						<a href="#">
							Retweets <strong>2</strong>
						</a>
					</li>

					<li class="tw-stat-count">
						<a href="#">
							Favorites <strong>7</strong>
						</a>
					</li>

					<li class="tw-avatar-row">
						<a href="/natredwine" title="Natalie Edwards">
							<img src="http://pbs.twimg.com/profile_images/3337577713/b3be82e970c72f5f3bb3cb1c49bbcebd_normal.jpeg" alt="Natalie Edwards">
						</a>
						<a href="/ndhcarter" title="Nathan Carter">
							<img src="http://pbs.twimg.com/profile_images/2278465064/image_normal.jpg" alt="Nathan Carter">
						</a>
						<a href="/JenMededit" title="Jennifer Holmes">
							<img src="http://pbs.twimg.com/profile_images/458955728674246658/QjhqFatn_normal.jpeg" alt="Jennifer Holmes">
						</a>
						<a href="/GLHJR" title="Gary Howe">
							<img src="http://pbs.twimg.com/profile_images/533813693017231361/KZpIxM75_normal.jpeg" alt="Gary Howe">
						</a>
						<a href="/GabrielRSRocha" title="Gabriel Rocha">
							<img src="http://pbs.twimg.com/profile_images/542039455994236928/lTEj4ldj_normal.jpeg" alt="Gabriel Rocha">
						</a>
						<a href="/tamaribu" title="Leslie T">
							<img src="http://pbs.twimg.com/profile_images/96849367/Photo_23_normal.jpg" alt="Leslie T">
						</a>
						<a href="/glorelysmoraliz" title="Glorelys Mora-Liz">
							<img src="http://pbs.twimg.com/profile_images/579457979222745088/tW5_fq91_normal.jpg" alt="Glorelys Mora-Liz">
						</a>
						<a href="/KareemMichel" title="Kareem Michel">
							<img src="http://pbs.twimg.com/profile_images/579535914784948224/1D4jW_4__normal.jpg" alt="Kareem Michel">
						</a>
					</li>
				</ul>
			</div>

			<div class="tw-client-and-actions">
				<span class="metadata">
					<span>5:00 PM - 22 Mar 2015</span>
					· <a class="permalink-link" href="/freelancersu/status/579621227796545536">Details</a>
				</span>
			</div>
		</div>

		<div class="tweet-footer">
			<a class="tw-details-toggle-link" href="/freelancersu/status/579621227796545536">
				<span class="expand-link">View photo</span>
				<span class="collapse-link">Hide photo</span>
			</a>

			<div class="tweet-action-list">

				<div class="tweet-action">
					<button class="tweet-action-btn" type="button">
						<span class="icon icon-reply"></span>
						<span class="visuallyhidden">Reply</span>
					</button>
				</div>


				<div class="tweet-action">
					<button class="tweet-action-btn" type="button">
						<span class="icon icon-retweet"></span>
						<span class="hidden">Retweet</span>
						<span class="tweet-action-count">2</span>
					</button>
				</div>
				<div class="tweet-action">
					<button class="tweet-action-btn" type="button">
						<span class="icon icon-favorite"></span>
						<span class="visuallyhidden">Favorite</span>
						<span class="tweet-action-count">8</span>
					</button>
				</div>

				<div class="tweet-action">
					<!-- Add .open -->
					<div class="tw-dropdown"> 
						<button class="tweet-action-btn" type="button">
							<span class="icon icon-dots"></span>
							<span class="visuallyhidden">More</span>
						</button>
						<div class="tw-dropdown-menu">
							<ul>
								<li>
									<button type="button">Share via Direct Message</button>
								</li>

								<li>
									<button type="button">Embed Tweet</button>
								</li>

								<li>
									<button type="button">Mute</button>
								</li>

								<li>
									<button type="button">Unmute</button>
								</li>

								<li>
									<button type="button">Block</button>
								</li>

								<li>
									<button type="button">Unblock</button>
								</li>

								<li>
									<button type="button">Report</button>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="tweet-inline-reply">
		<!-- condensed -->
		<form class="tweet-form condensed" method="post" action="">

			<img class="tw-inline-reply-user-image" src="http://pbs.twimg.com/profile_images/378800000780979625/5b31061ad9b86827f08b932200f6c084_normal.jpeg" alt="">

			<div class="tweet-reply-container">
				<div class="tweet-box" contenteditable="true" role="textarea" spellcheck="true">
					<div>Reply to <a class="tw-timeline-link tw-atreply" href="/MSLearning"><s>@</s>MSLearning</a>&nbsp;</div>
				</div>

			</div>

			<div class="tw-reply-toolbar" role="toolbar">

				<div class="tweet-box-extras">

					<div class="tw-photo-selector">
						<button aria-hidden="true" class="btn btn-icon" type="button" tabindex="-1">
							<i class="icon icon-camera"></i>
							<span class="btn-text">Add photo</span>
						</button>
					</div>



					<div class="tw-geo-picker">
						<button class="btn btn-icon" type="button" tabindex="-1" title="Add location">
							<i class="icon icon-geo"></i>
							<span class="btn-text">Add location</span>
						</button>
					</div>
				</div>

				<div class="tweet-button">
					<span class="tweet-spinner"></span>
					<span class="tweet-counter">119</span>
					<button class="btn btn-tweet" type="button" disabled="disabled">
						<i class="icon icon-tweet"></i>
						<span class="btn-text">Tweet</span>
					</button>
				</div>

			</div>
		</form>
	</div>

</div><!-- /tw-box -->
{{!--
	<div class="twitter-box{{#if $last}} last{{/if}}">

		<a href="http://twitter.com/{{this.user.screen_name}}" class="twitter-avatar-large twitter-img-thumb" target="_blank">
			<img src="{{this.user.profile_image_url}}" />
		</a>
		<aside class="twitter-box-content">
			<div class="twitter-user-info">
				<a href="http://twitter.com/{{this.user.screen_name}}" class="twitter-black-link" target="_blank">
					{{this.user.name}}
				</a>
				<a href="http://twitter.com/{{this.user.screen_name}}" class="twitter-gray-link-no-hover" target="_blank">
					@{{this.user.screen_name}}
				</a>
				<a href="#" class="twitter-gray-link">
					{{fromNowShort this.created_time}}
				</a>
			</div>

			<div class="twitter-status-text">
				{{{this.text}}}
			</div>

		</aside> <!-- /twitter-box-content-->
	</div><!-- /twitter-box-->
	--}}